<main class="main-products">
  <section class="section-products">
    <h2 class="section-products__title">Our Products</h2>
    <div class="container-products">
      <div class="box" style="background-color: red"></div>
      <div class="box" style="background-color: blue"></div>
      <div class="box" style="background-color: green"></div>
      <div class="box" style="background-color: yellow"></div>
      <div class="box" style="background-color: violet"></div>
      <div class="box" style="background-color: orange"></div>
      <div class="box" style="background-color: firebrick"></div>
      <div class="box" style="background-color: sandybrown"></div>
    </div>
  </section>
</main>
