<div class="product-card">
  <div class="product-card__image">
    <picture>
      <source type="image/webp" srcset="/assets/images/product-1.webp" />
      <source type="image/jpeg" srcset="/assets/images/product-1.jpeg" />
      <img src="/assets/images/product-1.jpeg" alt="product card 01" />
    </picture>
  </div>
  <div class="product-card__specs">
    <span class="product-card__price"> 14.99 </span>
    <span class="product-card__name"> $ saheb panel bed </span>
  </div>
  <div class="product-card__add">
    <button type="button" class="product-card__btn">
      <span class="product-card__btn-icon">
        <i class="fas fa-cart-plus"></i>
      </span>
      <span class="product-card__btn-text"> add to cart </span>
    </button>
  </div>
</div>
